@charset "UTF-8";


/*----------------------------------------
	header
----------------------------------------*/
/* スマホサイズ＆共通 */
.header {
  position: fixed;
  width: 400px;
  height: 50px;
  padding: 0 0 0 20px;
  background-color: #fff;
}

.header_container {
  position: relative;
}

.header-logo {
  position: absolute;
  top: 15px;
  left: 0;
}

.header-logo img {
  width: 100px;
  height: 20px;

}

.header-nav {
  display: none;
}

/*----------------------------------------
hamburger
----------------------------------------*/
.header-hambergar {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #37952F;
  right: 0;
}

.header-hambergar .spans {
  position: absolute;
  top: 17.5px;
  left: 12.5px;
}

.header-hambergar span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
}

.header-hambergar span:nth-child(1) {
  margin-bottom: 3px;
}

.header-hambergar span:nth-child(2) {
  margin-bottom: 3px;
}


/*----------------------------------------
gnav
----------------------------------------*/


/*----------------------------------------
mainContents
----------------------------------------*/



/*----------------------------------------
footer
----------------------------------------*/


/*----------------------------------------
container
----------------------------------------*/


/*----------------------------------------
section
----------------------------------------*/


/*----------------------------------------
heading
----------------------------------------*/


/*----------------------------------------
button
----------------------------------------*/

/* --------------------.serviceのボタン --------------------*/
.service_button {
  width: 300px;
  height: 50px;
  background-color: #37952F;
  margin: 40px 0 20px 0;
}

.service_button a {
  text-decoration: none;
}

.service_button p {
  color: #fff;
  text-align: center;
  line-height: 50px;
}
  /* --------------------ホバー時-------------------- */
  .service_button:hover {
    background-color: #fff;
    border: 2px solid #37952F;
  }

  .service_button p:hover {
    color: #37952F;
  }
  /* ---------------------------------------- */

/* -------------------共通のボタン-------------------- */
.btn {
  border: 2px solid #37952F;
  margin: 40px auto 0 auto;
  width: 400px;
  height: 70px;
}

.btn a {
  text-decoration: none;

}

.btn p {
  color: #333;
  font-size: 20px;
  text-align: center;
  line-height: 70px;
  letter-spacing: 3px;
}
  /* --------------------ホバー時 --------------------*/
  .btn:hover {
    background-color: #37952F;
  }

  .btn p:hover {
    color: #fff;
  }
  /* ---------------------------------------- */