@charset "UTF-8";

/*----------------------------------------
	TOPページ専用
----------------------------------------*/


/* mainVisual
----------------------------------------*/
.main_visual {
	background-color: #37952F;
	width: 400px;
	height: 500px;
}

/* serviceList
----------------------------------------*/


/* pickupList
----------------------------------------*/
