@charset "UTF-8";

/*----------------------------------------
	TOPページ専用
----------------------------------------*/
main {
	padding-top: 50px;
}

.main_container {
	width: 400px;
}

/* mainVisual
----------------------------------------*/
.main_visual {
	background-color: #37952F;
	width: 400px;
	height: 500px;
}

/* serviceList
----------------------------------------*/
.service_text {

}

/* pickupList
----------------------------------------*/
